# City Bike Analysis

DataSource: https://www.citibikenyc.com/system-data

### Collect Data

In [1]:
# Concat CityBikeData csv files yearwise (2016, 2017, 2018, 2019)a

In [2]:
import os
import pandas as pd
import numpy as np
from functools import reduce
from datetime import datetime

In [3]:
def get_filenames(dirname):
    filenames = os.listdir(dirname)
    file_fullpath = [
        os.path.join(dirname, f)
        for f in filenames
    ]
    return file_fullpath

In [4]:
filenames2019 = get_filenames("2019CitybikeData")
filenames2018 = get_filenames("2018CitybikeData")
filenames2017 = get_filenames("2017CitybikeData")
filenames2016 = get_filenames("2016CitybikeData")

In [5]:
filenames2017

['2017CitybikeData/JC-201701-citibike-tripdata.csv',
 '2017CitybikeData/JC-201709-citibike-tripdata.csv',
 '2017CitybikeData/JC-201703-citibike-tripdata.csv',
 '2017CitybikeData/JC-201708 citibike-tripdata.csv',
 '2017CitybikeData/JC-201705-citibike-tripdata.csv',
 '2017CitybikeData/JC-201707-citibike-tripdata.csv',
 '2017CitybikeData/JC-201711-citibike-tripdata.csv',
 '2017CitybikeData/JC-201702-citibike-tripdata.csv',
 '2017CitybikeData/JC-201712-citibike-tripdata.csv',
 '2017CitybikeData/JC-201704-citibike-tripdata.csv',
 '2017CitybikeData/JC-201710-citibike-tripdata.csv',
 '2017CitybikeData/JC-201706-citibike-tripdata.csv']

In [6]:
def read_saveCSV(filenames, year):
    citibike_dfs = [
    pd.read_csv(f)
    for f in filenames
    ]
    def concat(df1, df2):
        return pd.concat([df1, df2])

    combined_citybikedf = reduce(concat, citibike_dfs)

    newfilename = "citybikeData" + str(year) +".csv"
    combined_citybikedf.to_csv(f"CombinedBikeData/{newfilename}", index=False)

In [7]:
read_saveCSV(filenames2016, 2016)

read_saveCSV(filenames2017, 2017)

read_saveCSV(filenames2018, 2018)

read_saveCSV(filenames2019, 2019)

In [8]:
bikedf_2016 = pd.read_csv("CombinedBikeData/citybikeData2016.csv")
bikedf_2016.head()

,Trip Duration,Start Time,Stop Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,Birth Year,Gender
0,362,2016-01-01 00:02:52,2016-01-01 00:08:54,3186,Grove St PATH,40.719586,-74.043117,3209,Brunswick St,40.724176,-74.050656,24647,Subscriber,1964.0,2
1,200,2016-01-01 00:18:22,2016-01-01 00:21:42,3186,Grove St PATH,40.719586,-74.043117,3213,Van Vorst Park,40.718489,-74.047727,24605,Subscriber,1962.0,1
2,202,2016-01-01 00:18:25,2016-01-01 00:21:47,3186,Grove St PATH,40.719586,-74.043117,3213,Van Vorst Park,40.718489,-74.047727,24689,Subscriber,1962.0,2
3,248,2016-01-01 00:23:13,2016-01-01 00:27:21,3209,Brunswick St,40.724176,-74.050656,3203,Hamilton Park,40.727596,-74.044247,24693,Subscriber,1984.0,1
4,903,2016-01-01 01:03:20,2016-01-01 01:18:24,3195,Sip Ave,40.730743,-74.063784,3210,Pershing Field,40.742677,-74.051789,24573,Customer,NaN,0

In [9]:
# df.columns = map(str.lower, df.columns)
bikedf_2016.columns = map(str.lower, bikedf_2016.columns)
bikedf_2016.head()

,trip duration,start time,stop time,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bike id,user type,birth year,gender
0,362,2016-01-01 00:02:52,2016-01-01 00:08:54,3186,Grove St PATH,40.719586,-74.043117,3209,Brunswick St,40.724176,-74.050656,24647,Subscriber,1964.0,2
1,200,2016-01-01 00:18:22,2016-01-01 00:21:42,3186,Grove St PATH,40.719586,-74.043117,3213,Van Vorst Park,40.718489,-74.047727,24605,Subscriber,1962.0,1
2,202,2016-01-01 00:18:25,2016-01-01 00:21:47,3186,Grove St PATH,40.719586,-74.043117,3213,Van Vorst Park,40.718489,-74.047727,24689,Subscriber,1962.0,2
3,248,2016-01-01 00:23:13,2016-01-01 00:27:21,3209,Brunswick St,40.724176,-74.050656,3203,Hamilton Park,40.727596,-74.044247,24693,Subscriber,1984.0,1
4,903,2016-01-01 01:03:20,2016-01-01 01:18:24,3195,Sip Ave,40.730743,-74.063784,3210,Pershing Field,40.742677,-74.051789,24573,Customer,NaN,0

In [10]:
bikedf_2017 = pd.read_csv("CombinedBikeData/citybikeData2017.csv")
bikedf_2017.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,148,2017-01-01 00:21:32,2017-01-01 00:24:01,3276,Marin Light Rail,40.714584,-74.042817,3185,City Hall,40.717732,-74.043845,24575,Subscriber,1983.0,1
1,1283,2017-01-01 00:24:35,2017-01-01 00:45:58,3183,Exchange Place,40.716247,-74.033459,3198,Heights Elevator,40.748716,-74.040443,24723,Subscriber,1978.0,1
2,372,2017-01-01 00:38:19,2017-01-01 00:44:31,3183,Exchange Place,40.716247,-74.033459,3211,Newark Ave,40.721525,-74.046305,24620,Subscriber,1989.0,1
3,1513,2017-01-01 00:38:37,2017-01-01 01:03:50,3194,McGinley Square,40.725340,-74.067622,3271,Danforth Light Rail,40.692640,-74.088012,24668,Subscriber,1961.0,1
4,639,2017-01-01 01:47:52,2017-01-01 01:58:31,3183,Exchange Place,40.716247,-74.033459,3203,Hamilton Park,40.727596,-74.044247,26167,Subscriber,1993.0,1

In [11]:
bikedf_2017.dtypes

tripduration                 int64
starttime                   object
stoptime                    object
start station id             int64
start station name          object
start station latitude     float64
start station longitude    float64
end station id               int64
end station name            object
end station latitude       float64
end station longitude      float64
bikeid                       int64
usertype                    object
birth year                 float64
gender                       int64
dtype: object

In [12]:
bikedf_2018 = pd.read_csv("CombinedBikeData/citybikeData2018.csv")
bikedf_2018.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,932,2018-01-01 02:06:17.5410,2018-01-01 02:21:50.0270,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31929,Subscriber,1992,1
1,550,2018-01-01 12:06:18.0390,2018-01-01 12:15:28.4430,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31845,Subscriber,1969,2
2,510,2018-01-01 12:06:56.9780,2018-01-01 12:15:27.8100,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31708,Subscriber,1946,1
3,354,2018-01-01 14:53:10.1860,2018-01-01 14:59:05.0960,3183,Exchange Place,40.716247,-74.033459,3267,Morris Canal,40.712419,-74.038526,31697,Subscriber,1994,1
4,250,2018-01-01 17:34:30.1920,2018-01-01 17:38:40.9840,3183,Exchange Place,40.716247,-74.033459,3639,Harborside,40.719252,-74.034234,31861,Subscriber,1991,1

In [13]:
bikedf_2019 = pd.read_csv("CombinedBikeData/citybikeData2019.csv")
bikedf_2019.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,142,2019-02-01 15:35:02.0820,2019-02-01 15:37:24.1360,3183,Exchange Place,40.716247,-74.033459,3639,Harborside,40.719252,-74.034234,29677,Subscriber,1963,1
1,223,2019-02-01 17:00:46.8900,2019-02-01 17:04:30.5500,3183,Exchange Place,40.716247,-74.033459,3681,Grand St,40.715178,-74.037683,26234,Subscriber,1992,2
2,106,2019-02-01 17:08:01.3260,2019-02-01 17:09:47.4400,3183,Exchange Place,40.716247,-74.033459,3184,Paulus Hook,40.714145,-74.033552,29588,Subscriber,1960,1
3,370,2019-02-01 17:09:31.2100,2019-02-01 17:15:41.6550,3183,Exchange Place,40.716247,-74.033459,3211,Newark Ave,40.721525,-74.046305,29250,Subscriber,1976,1
4,315,2019-02-01 17:19:53.2490,2019-02-01 17:25:09.1400,3183,Exchange Place,40.716247,-74.033459,3273,Manila & 1st,40.721651,-74.042884,29586,Subscriber,1980,1

In [14]:
bikedf_2016.columns = ["tripduration","starttime","stoptime","start station id","start station name","start station latitude","start station longitude","end station id","end station name","end station latitude","end station longitude","bikeid","usertype","birth year","gender"]

In [15]:
bikedf_2016.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,362,2016-01-01 00:02:52,2016-01-01 00:08:54,3186,Grove St PATH,40.719586,-74.043117,3209,Brunswick St,40.724176,-74.050656,24647,Subscriber,1964.0,2
1,200,2016-01-01 00:18:22,2016-01-01 00:21:42,3186,Grove St PATH,40.719586,-74.043117,3213,Van Vorst Park,40.718489,-74.047727,24605,Subscriber,1962.0,1
2,202,2016-01-01 00:18:25,2016-01-01 00:21:47,3186,Grove St PATH,40.719586,-74.043117,3213,Van Vorst Park,40.718489,-74.047727,24689,Subscriber,1962.0,2
3,248,2016-01-01 00:23:13,2016-01-01 00:27:21,3209,Brunswick St,40.724176,-74.050656,3203,Hamilton Park,40.727596,-74.044247,24693,Subscriber,1984.0,1
4,903,2016-01-01 01:03:20,2016-01-01 01:18:24,3195,Sip Ave,40.730743,-74.063784,3210,Pershing Field,40.742677,-74.051789,24573,Customer,NaN,0

In [16]:
bikeData2016To2019 = pd.concat([bikedf_2016, bikedf_2017, bikedf_2018, bikedf_2019])

In [17]:
bikeData2016To2019.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,362,2016-01-01 00:02:52,2016-01-01 00:08:54,3186,Grove St PATH,40.719586,-74.043117,3209,Brunswick St,40.724176,-74.050656,24647,Subscriber,1964.0,2
1,200,2016-01-01 00:18:22,2016-01-01 00:21:42,3186,Grove St PATH,40.719586,-74.043117,3213,Van Vorst Park,40.718489,-74.047727,24605,Subscriber,1962.0,1
2,202,2016-01-01 00:18:25,2016-01-01 00:21:47,3186,Grove St PATH,40.719586,-74.043117,3213,Van Vorst Park,40.718489,-74.047727,24689,Subscriber,1962.0,2
3,248,2016-01-01 00:23:13,2016-01-01 00:27:21,3209,Brunswick St,40.724176,-74.050656,3203,Hamilton Park,40.727596,-74.044247,24693,Subscriber,1984.0,1
4,903,2016-01-01 01:03:20,2016-01-01 01:18:24,3195,Sip Ave,40.730743,-74.063784,3210,Pershing Field,40.742677,-74.051789,24573,Customer,NaN,0

In [18]:
bikeData2016To2019.count()

tripduration               1250826
starttime                  1250826
stoptime                   1250826
start station id           1250826
start station name         1250826
start station latitude     1250826
start station longitude    1250826
end station id             1250826
end station name           1250826
end station latitude       1250826
end station longitude      1250826
bikeid                     1250826
usertype                   1250329
birth year                 1212212
gender                     1250826
dtype: int64

In [19]:
bikeData2016To2019.to_csv("CombinedBikeData/citybikeData2016to2019.csv", index=False)

In [20]:
bikeData2016To2018 = pd.concat([bikedf_2016, bikedf_2017, bikedf_2018])

In [21]:
bikeData2016To2018.count()

tripduration               896404
starttime                  896404
stoptime                   896404
start station id           896404
start station name         896404
start station latitude     896404
start station longitude    896404
end station id             896404
end station name           896404
end station latitude       896404
end station longitude      896404
bikeid                     896404
usertype                   895907
birth year                 857790
gender                     896404
dtype: int64

In [22]:
bikeData2016To2018.to_csv("CombinedBikeData/citybikeData2016to2018.csv", index=False)

#### Consider only 2017 and 2018 years data

In [23]:
bikeData2017To2018 = pd.concat([bikedf_2017, bikedf_2018])

In [24]:
bikeData2017To2018.to_csv("CombinedBikeData/citybikeData2017to2018.csv", index=False)

In [25]:
bikeData2017To2018.dtypes

tripduration                 int64
starttime                   object
stoptime                    object
start station id             int64
start station name          object
start station latitude     float64
start station longitude    float64
end station id               int64
end station name            object
end station latitude       float64
end station longitude      float64
bikeid                       int64
usertype                    object
birth year                 float64
gender                       int64
dtype: object

In [26]:
cleanbikeData2017To2018 = bikeData2017To2018.copy()

In [27]:
cleanbikeData2017To2018.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,148,2017-01-01 00:21:32,2017-01-01 00:24:01,3276,Marin Light Rail,40.714584,-74.042817,3185,City Hall,40.717732,-74.043845,24575,Subscriber,1983.0,1
1,1283,2017-01-01 00:24:35,2017-01-01 00:45:58,3183,Exchange Place,40.716247,-74.033459,3198,Heights Elevator,40.748716,-74.040443,24723,Subscriber,1978.0,1
2,372,2017-01-01 00:38:19,2017-01-01 00:44:31,3183,Exchange Place,40.716247,-74.033459,3211,Newark Ave,40.721525,-74.046305,24620,Subscriber,1989.0,1
3,1513,2017-01-01 00:38:37,2017-01-01 01:03:50,3194,McGinley Square,40.725340,-74.067622,3271,Danforth Light Rail,40.692640,-74.088012,24668,Subscriber,1961.0,1
4,639,2017-01-01 01:47:52,2017-01-01 01:58:31,3183,Exchange Place,40.716247,-74.033459,3203,Hamilton Park,40.727596,-74.044247,26167,Subscriber,1993.0,1

### Clean Data

#### Keep Data with age less than 90 years

In [28]:
cleanbikeData2017To2018 = cleanbikeData2017To2018.loc[cleanbikeData2017To2018["birth year"]>1927]

In [29]:
cleanbikeData2017To2018.count()

tripduration               629002
starttime                  629002
stoptime                   629002
start station id           629002
start station name         629002
start station latitude     629002
start station longitude    629002
end station id             629002
end station name           629002
end station latitude       629002
end station longitude      629002
bikeid                     629002
usertype                   628885
birth year                 629002
gender                     629002
dtype: int64

#### Convert Birth year in datetime format

In [30]:
cleanbikeData2017To2018['birth year'] = pd.to_datetime(cleanbikeData2017To2018['birth year'], format='%Y', errors="coerce")
cleanbikeData2017To2018.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,148,2017-01-01 00:21:32,2017-01-01 00:24:01,3276,Marin Light Rail,40.714584,-74.042817,3185,City Hall,40.717732,-74.043845,24575,Subscriber,1983-01-01,1
1,1283,2017-01-01 00:24:35,2017-01-01 00:45:58,3183,Exchange Place,40.716247,-74.033459,3198,Heights Elevator,40.748716,-74.040443,24723,Subscriber,1978-01-01,1
2,372,2017-01-01 00:38:19,2017-01-01 00:44:31,3183,Exchange Place,40.716247,-74.033459,3211,Newark Ave,40.721525,-74.046305,24620,Subscriber,1989-01-01,1
3,1513,2017-01-01 00:38:37,2017-01-01 01:03:50,3194,McGinley Square,40.725340,-74.067622,3271,Danforth Light Rail,40.692640,-74.088012,24668,Subscriber,1961-01-01,1
4,639,2017-01-01 01:47:52,2017-01-01 01:58:31,3183,Exchange Place,40.716247,-74.033459,3203,Hamilton Park,40.727596,-74.044247,26167,Subscriber,1993-01-01,1

#### Find which column has null values

In [31]:
# Find which column has null values
null_columns=cleanbikeData2017To2018.columns[cleanbikeData2017To2018.isnull().any()]
cleanbikeData2017To2018[null_columns].isnull().sum()

usertype    117
dtype: int64

In [32]:
# Find which row contains "null" values in "usertype" column
cleanbikeData2017To2018[cleanbikeData2017To2018["usertype"].isnull()]

# # To see rows which contains any of null values
# cleanbikeData2017To2018[cleanbikeData2017To2018.isnull().any(axis=1)][null_columns].head()
# cleanbikeData2017To2018[cleanbikeData2017To2018.isnull().any(axis=1)].head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
2141,1151,2017-01-06 12:23:23,2017-01-06 12:42:34,3202,Newport PATH,40.727224,-74.033759,3272,Jersey & 3rd,40.723332,-74.045953,26260,NaN,1983-01-01,1
2142,948,2017-01-06 12:27:25,2017-01-06 12:43:14,3202,Newport PATH,40.727224,-74.033759,3272,Jersey & 3rd,40.723332,-74.045953,26183,NaN,1986-01-01,2
2152,1553,2017-01-06 13:43:32,2017-01-06 14:09:26,3275,Columbus Drive,40.718355,-74.038914,3267,Morris Canal,40.712419,-74.038526,26292,NaN,1983-01-01,1
2153,1536,2017-01-06 13:43:54,2017-01-06 14:09:30,3275,Columbus Drive,40.718355,-74.038914,3267,Morris Canal,40.712419,-74.038526,26187,NaN,1986-01-01,2
2158,1490,2017-01-06 14:11:47,2017-01-06 14:36:37,3267,Morris Canal,40.712419,-74.038526,3192,Liberty Light Rail,40.711242,-74.055701,26292,NaN,1983-01-01,1
2159,1472,2017-01-06 14:12:05,2017-01-06 14:36:37,3267,Morris Canal,40.712419,-74.038526,3192,Liberty Light Rail,40.711242,-74.055701,26187,NaN,1986-01-01,2
2175,1580,2017-01-06 14:39:51,2017-01-06 15:06:11,3192,Liberty Light Rail,40.711242,-74.055701,3192,Liberty Light Rail,40.711242,-74.055701,26292,NaN,1983-01-01,1
2176,1568,2017-01-06 14:40:04,2017-01-06 15:06:13,3192,Liberty Light Rail,40.711242,-74.055701,3192,Liberty Light Rail,40.711242,-74.055701,26187,NaN,1986-01-01,2
2184,642,2017-01-06 15:08:45,2017-01-06 15:19:28,3192,Liberty Light Rail,40.711242,-74.055701,3186,Grove St PATH,40.719586,-74.043117,26292,NaN,1983-01-01,1
2185,614,2017-01-06 15:09:13,2017-01-06 15:19:27,3192,Liberty Light Rail,40.711242,-74.055701,3186,Grove St PATH,40.719586,-74.043117,26187,NaN,1986-01-01,2
5887,5119,2017-01-16 15:27:39,2017-01-16 16:52:59,3202,Newport PATH,40.727224,-74.033759,3202,Newport PATH,40.727224,-74.033759,24532,NaN,1987-01-01,1
7494,668,2017-01-19 19:18:27,2017-01-19 19:29:35,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,24595,NaN,1985-01-01,1
7511,2289,2017-01-19 19:33:26,2017-01-19 20:11:35,3199,Newport Pkwy,40.728745,-74.032108,3203,Hamilton Park,40.727596,-74.044247,24595,NaN,1985-01-01,1
7543,373,2017-01-19 20:15:14,2017-01-19 20:21:28,3203,Hamilton Park,40.727596,-74.044247,3186,Grove St PATH,40.719586,-74.043117,24595,NaN,1985-01-01,1
10062,1062,2017-01-25 23:04:37,2017-01-25 23:22:19,3211,Newark Ave,40.721525,-74.046305,3183,Exchange Place,40.716247,-74.033459,24692,NaN,1991-01-01,1
10065,1167,2017-01-25 23:30:54,2017-01-25 23:50:22,3183,Exchange Place,40.716247,-74.033459,3272,Jersey & 3rd,40.723332,-74.045953,24692,NaN,1991-01-01,1
10319,333,2017-01-26 13:16:32,2017-01-26 13:22:06,3273,Manila & 1st,40.721651,-74.042884,3183,Exchange Place,40.716247,-74.033459,24487,NaN,1991-01-01,1
10342,571,2017-01-26 14:28:57,2017-01-26 14:38:28,3183,Exchange Place,40.716247,-74.033459,3272,Jersey & 3rd,40.723332,-74.045953,24487,NaN,1991-01-01,1
47354,1662,2017-03-02 19:35:12,2017-03-02 20:02:54,3183,Exchange Place,40.716247,-74.033459,3183,Exchange Place,40.716247,-74.033459,24559,NaN,1970-01-01,1
48464,1285,2017-03-05 14:18:53,2017-03-05 14:40:18,3199,Newport Pkwy,40.728745,-74.032108,3269,Brunswick & 6th,40.726012,-74.050389,26284,NaN,1994-01-01,1
48472,1269,2017-03-05 14:42:42,2017-03-05 15:03:51,3269,Brunswick & 6th,40.726012,-74.050389,3281,Leonard Gordon Park,40.745910,-74.057271,26284,NaN,1994-01-01,1
48486,1126,2017-03-05 15:11:32,2017-03-05 15:30:19,3281,Leonard Gordon Park,40.745910,-74.057271,3195,Sip Ave,40.730743,-74.063784,24469,NaN,1994-01-01,1
48494,634,2017-03-05 15:32:46,2017-03-05 15:43:20,3195,Sip Ave,40.730743,-74.063784,3190,Garfield Ave Station,40.710467,-74.070039,26159,NaN,1994-01-01,1
50932,1616,2017-03-09 16:32:35,2017-03-09 16:59:32,3276,Marin Light Rail,40.714584,-74.042817,3192,Liberty Light Rail,40.711242,-74.055701,26195,NaN,1990-01-01,1
50933,1566,2017-03-09 16:33:27,2017-03-09 16:59:34,3276,Marin Light Rail,40.714584,-74.042817,3192,Liberty Light Rail,40.711242,-74.055701,24519,NaN,1987-01-01,2
50962,1700,2017-03-09 17:13:30,2017-03-09 17:41:51,3192,Liberty Light Rail,40.711242,-74.055701,3192,Liberty Light Rail,40.711242,-74.055701,26195,NaN,1990-01-01,1
50964,1683,2017-03-09 17:13:59,2017-03-09 17:42:02,3192,Liberty Light Rail,40.711242,-74.055701,3192,Liberty Light Rail,40.711242,-74.055701,24519,NaN,1987-01-01,2
51013,588,2017-03-09 17:45:28,2017-03-09 17:55:16,3192,Liberty Light Rail,40.711242,-74.055701,3276,Marin Light Rail,40.714584,-74.042817,24519,NaN,1987-01-01,2
51015,587,2017-03-09 17:45:29,2017-03-09 17:55:16,3192,Liberty Light Rail,40.711242,-74.055701,3276,Marin Light Rail,40.714584,-74.042817,26195,NaN,1990-01-01,1
51243,909,2017-03-09 23:00:35,2017-03-09 23:15:45,3276,Marin Light Rail,40.714584,-74.042817,3267,Morris Canal,40.712419,-74.038526,24519,NaN,1990-01-01,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
184672,1070,2017-02-19 14:46:45,2017-02-19 15:04:35,3280,Astor Place,40.719282,-74.071262,3192,Liberty Light Rail,40.711242,-74.055701,26160,NaN,1988-01-01,1
184677,1175,2017-02-19 14:47:24,2017-02-19 15:07:00,3280,Astor Place,40.719282,-74.071262,3192,Liberty Light Rail,40.711242,-74.055701,24446,NaN,1988-01-01,2
184740,3435,2017-02-19 15:38:43,2017-02-19 16:35:58,3192,Liberty Light Rail,40.711242,-74.055701,3192,Liberty Light Rail,40.711242,-74.055701,26157,NaN,1972-01-01,2
184751,3023,2017-02-19 15:45:25,2017-02-19 16:35:49,3192,Liberty Light Rail,40.711242,-74.055701,3192,Liberty Light Rail,40.711242,-74.055701,26164,NaN,1948-01-01,1
184786,904,2017-02-19 16:19:47,2017-02-19 16:34:52,3192,Liberty Light Rail,40.711242,-74.055701,3185,City Hall,40.717732,-74.043845,26254,NaN,1988-01-01,2
184789,823,2017-02-19 16:20:48,2017-02-19 16:34:32,3192,Liberty Light Rail,40.711242,-74.055701,3185,City Hall,40.717732,-74.043845,26310,NaN,1988-01-01,1
184835,1510,2017-02-19 17:01:24,2017-02-19 17:26:34,3211,Newark Ave,40.721525,-74.046305,3183,Exchange Place,40.716247,-74.033459,26265,NaN,1984-01-01,1
184857,433,2017-02-19 17:31:39,2017-02-19 17:38:52,3183,Exchange Place,40.716247,-74.033459,3185,City Hall,40.717732,-74.043845,26265,NaN,1984-01-01,1
184890,864,2017-02-19 18:23:20,2017-02-19 18:37:45,3186,Grove St PATH,40.719586,-74.043117,3225,Baldwin at Montgomery,40.723659,-74.064194,24419,NaN,1988-01-01,2
184891,866,2017-02-19 18:23:26,2017-02-19 18:37:52,3186,Grove St PATH,40.719586,-74.043117,3225,Baldwin at Montgomery,40.723659,-74.064194,26279,NaN,1988-01-01,1
185108,290,2017-02-20 10:47:48,2017-02-20 10:52:39,3187,Warren St,40.721124,-74.038051,3183,Exchange Place,40.716247,-74.033459,26269,NaN,1981-01-01,2
185242,2423,2017-02-20 13:50:00,2017-02-20 14:30:23,3184,Paulus Hook,40.714145,-74.033552,2008,Little West St & 1 Pl,40.705693,-74.016777,26231,NaN,1988-01-01,2
185309,318,2017-02-20 15:14:07,2017-02-20 15:19:26,3183,Exchange Place,40.716247,-74.033459,3187,Warren St,40.721124,-74.038051,26248,NaN,1981-01-01,2
187139,752,2017-02-23 10:51:39,2017-02-23 11:04:12,3202,Newport PATH,40.727224,-74.033759,3202,Newport PATH,40.727224,-74.033759,26311,NaN,1980-01-01,1
187305,976,2017-02-23 17:18:09,2017-02-23 17:34:26,3202,Newport PATH,40.727224,-74.033759,3183,Exchange Place,40.716247,-74.033459,24648,NaN,1968-01-01,1
188375,1319,2017-02-25 03:46:37,2017-02-25 04:08:37,3201,Dey St,40.737711,-74.066921,3201,Dey St,40.737711,-74.066921,24567,NaN,1985-01-01,1
188603,2439,2017-02-25 12:25:29,2017-02-25 13:06:09,3185,City Hall,40.717732,-74.043845,3183,Exchange Place,40.716247,-74.033459,26230,NaN,1989-01-01,1
188605,2342,2017-02-25 12:26:47,2017-02-25 13:05:49,3185,City Hall,40.717732,-74.043845,3183,Exchange Place,40.716247,-74.033459,26251,NaN,1991-01-01,2
188635,1948,2017-02-25 12:41:58,2017-02-25 13:14:27,3270,Jersey & 6th St,40.725289,-74.045572,3267,Morris Canal,40.712419,-74.038526,24499,NaN,1988-01-01,1
188637,1933,2017-02-25 12:42:05,2017-02-25 13:14:18,3270,Jersey & 6th St,40.725289,-74.045572,3267,Morris Canal,40.712419,-74.038526,26197,NaN,1989-01-01,2
188711,2561,2017-02-25 13:41:27,2017-02-25 14:24:08,3199,Newport Pkwy,40.728745,-74.032108,3199,Newport Pkwy,40.728745,-74.032108,26202,NaN,1977-01-01,1
188774,156,2017-02-25 14:43:45,2017-02-25 14:46:22,3183,Exchange Place,40.716247,-74.033459,3183,Exchange Place,40.716247,-74.033459,26211,NaN,1988-01-01,2
188775,2987,2017-02-25 14:43:59,2017-02-25 15:33:47,3183,Exchange Place,40.716247,-74.033459,3187,Warren St,40.721124,-74.038051,26316,NaN,1987-01-01,1
188781,2797,2017-02-25 14:46:49,2017-02-25 15:33:27,3183,Exchange Place,40.716247,-74.033459,3187,Warren St,40.721124,-74.038051,24392,NaN,1988-01-01,2
188953,338,2017-02-25 17:58:28,2017-02-25 18:04:06,3195,Sip Ave,40.730743,-74.063784,3201,Dey St,40.737711,-74.066921,24512,NaN,1975-01-01,1
189035,1604,2017-02-26 08:06:08,2017-02-26 08:32:52,3270,Jersey & 6th St,40.725289,-74.045572,3183,Exchange Place,40.716247,-74.033459,24504,NaN,1989-01-01,2
189036,1601,2017-02-26 08:06:17,2017-02-26 08:32:58,3270,Jersey & 6th St,40.725289,-74.045572,3183,Exchange Place,40.716247,-74.033459,26224,NaN,1988-01-01,1
189040,826,2017-02-26 08:36:59,2017-02-26 08:50:45,3183,Exchange Place,40.716247,-74.033459,3270,Jersey & 6th St,40.725289,-74.045572,26230,NaN,1988-01-01,1
189041,817,2017-02-26 08:37:00,2017-02-26 08:50:37,3183,Exchange Place,40.716247,-74.033459,3270,Jersey & 6th St,40.725289,-74.045572,24558,NaN,1989-01-01,2
189224,5930,2017-02-26 15:01:22,2017-02-26 16:40:13,3183,Exchange Place,40.716247,-74.033459,3205,JC Medical Center,40.716540,-74.049638,24655,NaN,1986-01-01,1

UserType contains NULL values. May be user don't add usertype in hurry or some different reason. Not removing rows containg those rows as it is not affecting other analysis like total trips, most and less popular stations etc.

In [33]:
# Convert Start and stoptime to datetime
cleanbikeData2017To2018["starttime"] = pd.to_datetime(cleanbikeData2017To2018["starttime"])
cleanbikeData2017To2018["stoptime"] = pd.to_datetime(cleanbikeData2017To2018["stoptime"])

In [34]:
cleanbikeData2017To2018.dtypes

tripduration                        int64
starttime                  datetime64[ns]
stoptime                   datetime64[ns]
start station id                    int64
start station name                 object
start station latitude            float64
start station longitude           float64
end station id                      int64
end station name                   object
end station latitude              float64
end station longitude             float64
bikeid                              int64
usertype                           object
birth year                 datetime64[ns]
gender                              int64
dtype: object

In [35]:
# Add start and stop day of week
# cleanbikeData2017To2018['Day of Week'] = cleanbikeData2017To2018['starttime'].apply(lambda time: time.dayofweek)
cleanbikeData2017To2018['StartDayofWeek'] = cleanbikeData2017To2018['starttime'].dt.weekday_name
cleanbikeData2017To2018['StopDayofWeek'] = cleanbikeData2017To2018['stoptime'].dt.weekday_name

In [36]:
cleanbikeData2017To2018.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,StartDayofWeek,StopDayofWeek
0,148,2017-01-01 00:21:32,2017-01-01 00:24:01,3276,Marin Light Rail,40.714584,-74.042817,3185,City Hall,40.717732,-74.043845,24575,Subscriber,1983-01-01,1,Sunday,Sunday
1,1283,2017-01-01 00:24:35,2017-01-01 00:45:58,3183,Exchange Place,40.716247,-74.033459,3198,Heights Elevator,40.748716,-74.040443,24723,Subscriber,1978-01-01,1,Sunday,Sunday
2,372,2017-01-01 00:38:19,2017-01-01 00:44:31,3183,Exchange Place,40.716247,-74.033459,3211,Newark Ave,40.721525,-74.046305,24620,Subscriber,1989-01-01,1,Sunday,Sunday
3,1513,2017-01-01 00:38:37,2017-01-01 01:03:50,3194,McGinley Square,40.725340,-74.067622,3271,Danforth Light Rail,40.692640,-74.088012,24668,Subscriber,1961-01-01,1,Sunday,Sunday
4,639,2017-01-01 01:47:52,2017-01-01 01:58:31,3183,Exchange Place,40.716247,-74.033459,3203,Hamilton Park,40.727596,-74.044247,26167,Subscriber,1993-01-01,1,Sunday,Sunday

#### Remove the data with trip duration greater than 3 hrs (with different start and stop days) and less than a minute

In [37]:
cleanbikeData2017To2018 = cleanbikeData2017To2018.loc[(cleanbikeData2017To2018["tripduration"]<11000) & (cleanbikeData2017To2018["tripduration"]>60) | (cleanbikeData2017To2018["StartDayofWeek"] == cleanbikeData2017To2018["StopDayofWeek"])]

In [38]:
cleanbikeData2017To2018

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,StartDayofWeek,StopDayofWeek
0,148,2017-01-01 00:21:32.000,2017-01-01 00:24:01.000,3276,Marin Light Rail,40.714584,-74.042817,3185,City Hall,40.717732,-74.043845,24575,Subscriber,1983-01-01,1,Sunday,Sunday
1,1283,2017-01-01 00:24:35.000,2017-01-01 00:45:58.000,3183,Exchange Place,40.716247,-74.033459,3198,Heights Elevator,40.748716,-74.040443,24723,Subscriber,1978-01-01,1,Sunday,Sunday
2,372,2017-01-01 00:38:19.000,2017-01-01 00:44:31.000,3183,Exchange Place,40.716247,-74.033459,3211,Newark Ave,40.721525,-74.046305,24620,Subscriber,1989-01-01,1,Sunday,Sunday
3,1513,2017-01-01 00:38:37.000,2017-01-01 01:03:50.000,3194,McGinley Square,40.725340,-74.067622,3271,Danforth Light Rail,40.692640,-74.088012,24668,Subscriber,1961-01-01,1,Sunday,Sunday
4,639,2017-01-01 01:47:52.000,2017-01-01 01:58:31.000,3183,Exchange Place,40.716247,-74.033459,3203,Hamilton Park,40.727596,-74.044247,26167,Subscriber,1993-01-01,1,Sunday,Sunday
5,258,2017-01-01 01:56:29.000,2017-01-01 02:00:48.000,3186,Grove St PATH,40.719586,-74.043117,3270,Jersey & 6th St,40.725289,-74.045572,24604,Subscriber,1970-01-01,1,Sunday,Sunday
6,663,2017-01-01 02:12:34.000,2017-01-01 02:23:38.000,3270,Jersey & 6th St,40.725289,-74.045572,3206,Hilltop,40.731169,-74.057574,24641,Subscriber,1978-01-01,1,Sunday,Sunday
7,567,2017-01-01 02:15:52.000,2017-01-01 02:25:20.000,3192,Liberty Light Rail,40.711242,-74.055701,3213,Van Vorst Park,40.718489,-74.047727,24513,Subscriber,1970-01-01,1,Sunday,Sunday
8,551,2017-01-01 02:16:03.000,2017-01-01 02:25:15.000,3192,Liberty Light Rail,40.711242,-74.055701,3213,Van Vorst Park,40.718489,-74.047727,24463,Subscriber,1967-01-01,2,Sunday,Sunday
9,573,2017-01-01 02:22:17.000,2017-01-01 02:31:50.000,3212,Christ Hospital,40.734786,-74.050444,3225,Baldwin at Montgomery,40.723659,-74.064194,24486,Subscriber,1984-01-01,1,Sunday,Sunday
10,535,2017-01-01 02:22:59.000,2017-01-01 02:31:55.000,3212,Christ Hospital,40.734786,-74.050444,3225,Baldwin at Montgomery,40.723659,-74.064194,24520,Subscriber,1987-01-01,2,Sunday,Sunday
11,224,2017-01-01 02:23:53.000,2017-01-01 02:27:37.000,3186,Grove St PATH,40.719586,-74.043117,3203,Hamilton Park,40.727596,-74.044247,24512,Subscriber,1984-01-01,2,Sunday,Sunday
12,1699,2017-01-01 02:33:12.000,2017-01-01 03:01:31.000,3213,Van Vorst Park,40.718489,-74.047727,3202,Newport PATH,40.727224,-74.033759,24513,Subscriber,1985-01-01,1,Sunday,Sunday
13,350,2017-01-01 02:37:31.000,2017-01-01 02:43:22.000,3186,Grove St PATH,40.719586,-74.043117,3209,Brunswick St,40.724176,-74.050656,24409,Subscriber,1964-01-01,2,Sunday,Sunday
14,346,2017-01-01 03:09:09.000,2017-01-01 03:14:56.000,3202,Newport PATH,40.727224,-74.033759,3186,Grove St PATH,40.719586,-74.043117,24513,Subscriber,1985-01-01,1,Sunday,Sunday
15,367,2017-01-01 03:16:35.000,2017-01-01 03:22:42.000,3187,Warren St,40.721124,-74.038051,3267,Morris Canal,40.712419,-74.038526,24699,Subscriber,1989-01-01,1,Sunday,Sunday
16,148,2017-01-01 03:24:02.000,2017-01-01 03:26:30.000,3186,Grove St PATH,40.719586,-74.043117,3213,Van Vorst Park,40.718489,-74.047727,24513,Subscriber,1985-01-01,1,Sunday,Sunday
17,204,2017-01-01 03:52:29.000,2017-01-01 03:55:53.000,3203,Hamilton Park,40.727596,-74.044247,3213,Van Vorst Park,40.718489,-74.047727,24442,Subscriber,1986-01-01,1,Sunday,Sunday
20,454,2017-01-01 05:17:42.000,2017-01-01 05:25:16.000,3183,Exchange Place,40.716247,-74.033459,3202,Newport PATH,40.727224,-74.033759,24555,Subscriber,1972-01-01,2,Sunday,Sunday
21,217,2017-01-01 05:25:35.000,2017-01-01 05:29:13.000,3195,Sip Ave,40.730743,-74.063784,3225,Baldwin at Montgomery,40.723659,-74.064194,24408,Subscriber,1987-01-01,1,Sunday,Sunday
22,107,2017-01-01 06:29:15.000,2017-01-01 06:31:03.000,3186,Grove St PATH,40.719586,-74.043117,3211,Newark Ave,40.721525,-74.046305,24681,Subscriber,1964-01-01,1,Sunday,Sunday
23,453,2017-01-01 07:08:01.000,2017-01-01 07:15:34.000,3195,Sip Ave,40.730743,-74.063784,3193,Lincoln Park,40.724605,-74.078406,26163,Subscriber,1983-01-01,1,Sunday,Sunday
24,447,2017-01-01 07:12:53.000,2017-01-01 07:20:20.000,3195,Sip Ave,40.730743,-74.063784,3193,Lincoln Park,40.724605,-74.078406,26431,Subscriber,1986-01-01,1,Sunday,Sunday
25,730,2017-01-01 07:38:57.000,2017-01-01 07:51:08.000,3281,Leonard Gordon Park,40.745910,-74.057271,3195,Sip Ave,40.730743,-74.063784,24495,Subscriber,1962-01-01,1,Sunday,Sunday
26,435,2017-01-01 07:55:19.000,2017-01-01 08:02:35.000,3192,Liberty Light Rail,40.711242,-74.055701,3186,Grove St PATH,40.719586,-74.043117,24390,Subscriber,1986-01-01,1,Sunday,Sunday
27,458,2017-01-01 08:16:36.000,2017-01-01 08:24:15.000,3195,Sip Ave,40.730743,-74.063784,3280,Astor Place,40.719282,-74.071262,26255,Subscriber,1992-01-01,1,Sunday,Sunday
28,258,2017-01-01 08:24:36.000,2017-01-01 08:28:54.000,3186,Grove St PATH,40.719586,-74.043117,3211,Newark Ave,40.721525,-74.046305,26308,Subscriber,1977-01-01,1,Sunday,Sunday
29,537,2017-01-01 08:56:28.000,2017-01-01 09:05:26.000,3196,Riverview Park,40.744319,-74.043991,3210,Pershing Field,40.742677,-74.051789,26234,Subscriber,1983-01-01,1,Sunday,Sunday
30,128,2017-01-01 08:58:17.000,2017-01-01 09:00:25.000,3270,Jersey & 6th St,40.725289,-74.045572,3211,Newark Ave,40.721525,-74.046305,24536,Subscriber,1981-01-01,1,Sunday,Sunday
31,98,2017-01-01 09:14:34.000,2017-01-01 09:16:13.000,3211,Newark Ave,40.721525,-74.046305,3270,Jersey & 6th St,40.725289,-74.045572,24536,Subscriber,1981-01-01,1,Sunday,Sunday
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
353862,440,2018-10-21 14:00:53.097,2018-10-21 14:08:13.550,3694,Jackson Square,40.711130,-74.078900,3194,McGinley Square,40.725340,-74.067622,26198,Subscriber,1990-01-01,1,Sunday,Sunday
353863,980,2018-10-22 06:33:27.252,2018-10-22 06:49:48.208,3694,Jackson Square,40.711130,-74.078900,3183,Exchange Place,40.716247,-74.033459,29278,Subscriber,1977-01-01,1,Monday,Monday
353864,1511,2018-10-22 17:27:41.372,2018-10-22 17:52:52.829,3694,Jackson Square,40.711130,-74.078900,3196,Riverview Park,40.744319,-74.043991,26222,Subscriber,1989-01-01,1,Monday,Monday
353865,1015,2018-10-23 06:19:28.562,2018-10-23 06:36:24.531,3694,Jackson Square,40.711130,-74.078900,3183,Exchange Place,40.716247,-74.033459,26277,Subscriber,1977-01-01,1,Tuesday,Tuesday
353866,680,2018-10-23 09:35:42.158,2018-10-23 09:47:02.327,3694,Jackson Square,40.711130,-74.078900,3213,Van Vorst Park,40.718489,-74.047727,26293,Customer,1969-01-01,0,Tuesday,Tuesday
353867,1045,2018-10-23 10:26:24.831,2018-10-23 10:43:50.236,3694,Jackson Square,40.711130,-74.078900,3195,Sip Ave,40.730743,-74.063784,26272,Subscriber,1994-01-01,2,Tuesday,Tuesday
353868,999,2018-10-23 10:57:37.074,2018-10-23 11:14:16.872,3694,Jackson Square,40.711130,-74.078900,3185,City Hall,40.717732,-74.043845,26203,Subscriber,1991-01-01,2,Tuesday,Tuesday
353869,426,2018-10-23 16:36:36.893,2018-10-23 16:43:43.862,3694,Jackson Square,40.711130,-74.078900,3277,Communipaw & Berry Lane,40.714358,-74.066611,26036,Subscriber,1991-01-01,1,Tuesday,Tuesday
353870,1048,2018-10-24 06:22:26.072,2018-10-24 06:39:54.861,3694,Jackson Square,40.711130,-74.078900,3183,Exchange Place,40.716247,-74.033459,26211,Subscriber,1977-01-01,1,Wednesday,Wednesday
353871,1038,2018-10-25 06:22:36.944,2018-10-25 06:39:55.359,3694,Jackson Square,40.711130,-74.078900,3183,Exchange Place,40.716247,-74.033459,29581,Subscriber,1977-01-01,1,Thursday,Thursday
353872,341,2018-10-25 10:34:02.664,2018-10-25 10:39:44.280,3694,Jackson Square,40.711130,-74.078900,3191,Union St,40.718211,-74.083639,26282,Subscriber,1994-01-01,2,Thursday,Thursday
353873,1445,2018-10-25 11:00:35.044,2018-10-25 11:24:40.498,3694,Jackson Square,40.711130,-74.078900,3205,JC Medical Center,40.716540,-74.049638,29277,Customer,2000-01-01,2,Thursday,Thursday
353874,1449,2018-10-25 11:00:45.059,2018-10-25 11:24:54.584,3694,Jackson Square,40.711130,-74.078900,3205,JC Medical Center,40.716540,-74.049638,31058,Customer,1968-01-01,2,Thursday,Thursday
353875,1317,2018-10-25 11:02:53.809,2018-10-25 11:24:51.070,3694,Jackson Square,40.711130,-74.078900,3205,JC Medical Center,40.716540,-74.049638,29486,Customer,1954-01-01,1,Thursday,Thursday
353876,382,2018-10-25 16:40:04.902,2018-10-25 16:46:27.507,3694,Jackson Square,40.711130,-74.078900,3277,Communipaw & Berry Lane,40.714358,-74.066611,26281,Subscriber,1991-01-01,1,Thursday,Thursday
353877,1016,2018-10-26 06:25:31.699,2018-10-26 06:42:27.854,3694,Jackson Square,40.711130,-74.078900,3183,Exchange Place,40.716247,-74.033459,26159,Subscriber,1977-01-01,1,Friday,Friday
353878,1692,2018-10-28 12:55:22.962,2018-10-28 13:23:35.470,3694,Jackson Square,40.711130,-74.078900,3202,Newport PATH,40.727224,-74.033759,33579,Subscriber,1987-01-01,1,Sunday,Sunday
353879,1007,2018-10-29 06:25:55.740,2018-10-29 06:42:43.237,3694,Jackson Square,40.711130,-74.078900,3183,Exchange Place,40.716247,-74.033459,29676,Subscriber,1977-01-01,1,Monday,Monday
353880,637,2018-10-29 09:19:16.258,2018-10-29 09:29:53.689,3694,Jackson Square,40.711130,-74.078900,3194,McGinley Square,40.725340,-74.067622,29219,Subscriber,1990-01-01,1,Monday,Monday
353881,715,2018-10-29 11:17:36.026,2018-10-29 11:29:31.045,3694,Jackson Square,40.711130,-74.078900,3195,Sip Ave,40.730743,-74.063784,26225,Subscriber,1985-01-01,1,Monday,Monday
353882,481,2018-10-29 16:32:41.525,2018-10-29 16:40:43.073,3694,Jackson Square,40.711130,-74.078900,3268,Lafayette Park,40.713464,-74.062859,33598,Subscriber,1991-01-01,1,Monday,Monday
353883,379,2018-10-29 18:07:37.481,2018-10-29 18:13:56.703,3694,Jackson Square,40.711130,-74.078900,3280,Astor Place,40.719282,-74.071262,29639,Subscriber,1956-01-01,1,Monday,Monday
353884,1006,2018-10-30 06:28:48.607,2018-10-30 06:45:35.395,3694,Jackson Square,40.711130,-74.078900,3183,Exchange Place,40.716247,-74.033459,29680,Subscriber,1977-01-01,1,Tuesday,Tuesday
353885,1119,2018-10-30 10:35:45.564,2018-10-30 10:54:25.301,3694,Jackson Square,40.711130,-74.078900,3206,Hilltop,40.731169,-74.057574,29639,Subscriber,1994-01-01,2,Tuesday,Tuesday
353886,378,2018-10-30 19:00:21.046,2018-10-30 19:06:39.410,3694,Jackson Square,40.711130,-74.078900,3280,Astor Place,40.719282,-74.071262,29494,Subscriber,1956-01-01,1,Tuesday,Tuesday
353887,1118,2018-10-31 11:30:53.707,2018-10-31 11:49:32.485,3694,Jackson Square,40.711130,-74.078900,3185,City Hall,40.717732,-74.043845,26219,Subscriber,1991-01-01,1,Wednesday,Wednesday
353888,1242,2018-10-31 12:20:41.699,2018-10-31 12:41:24.427,3694,Jackson Square,40.711130,-74.078900,3185,City Hall,40.717732,-74.043845,26288,Customer,1986-01-01,1,Wednesday,Wednesday
353889,1188,2018-10-31 12:21:36.279,2018-10-31 12:41:24.354,3694,Jackson Square,40.711130,-74.078900,3185,City Hall,40.717732,-74.043845,29591,Customer,1977-01-01,1,Wednesday,Wednesday
353890,983,2018-10-31 14:27:59.959,2018-10-31 14:44:23.202,3694,Jackson Square,40.711130,-74.078900,3277,Communipaw & Berry Lane,40.714358,-74.066611,32831,Subscriber,1988-01-01,1,Wednesday,Wednesday
353891,544,2018-10-31 15:37:41.376,2018-10-31 15:46:45.509,3694,Jackson Square,40.711130,-74.078900,3268,Lafayette Park,40.713464,-74.062859,29490,Subscriber,1991-01-01,2,Wednesday,Wednesday

In [39]:
# Calculate the distance from start and end latitude and longitude.
def dist_from_coordinates(lat1, lon1, lat2, lon2):
#     R = 6371  # Earth radius in km
    R = 3959  # Earth radius in mile
    #conversion to radians
    d_lat = np.radians(lat2-lat1)
    d_lon = np.radians(lon2-lon1)

    r_lat1 = np.radians(lat1)
    r_lat2 = np.radians(lat2)

    #haversine formula
    a = np.sin(d_lat/2.) **2 + np.cos(r_lat1) * np.cos(r_lat2) * np.sin(d_lon/2.)**2

    haversine = 2 * R * np.arcsin(np.sqrt(a))

    return haversine


new_column = []                    #empty column for distance
for index,row in cleanbikeData2017To2018.iterrows():
    
    lat1 = row['start station latitude'] #first row of location.lat column here
    lon1 = row['start station longitude'] #first row of location.long column here
    lat2 = row['end station latitude'] #second row of location.lat column here
    lon2 = row['end station longitude'] #second row of location.long column here
    value = dist_from_coordinates(lat1, lon1, lat2, lon2)  #get the distance
    new_column.append(value)   #append the empty list with distance values

cleanbikeData2017To2018.insert(4,"Distance(miles)",new_column)  #4 is the index where you want to place your column. Column index starts with 0. "Distance" is the header and new_column are the values in the column.

In [41]:
cleanbikeData2017To2018.head()

,tripduration,starttime,stoptime,start station id,Distance(miles),start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,StartDayofWeek,StopDayofWeek
0,148,2017-01-01 00:21:32,2017-01-01 00:24:01,3276,0.224114,Marin Light Rail,40.714584,-74.042817,3185,City Hall,40.717732,-74.043845,24575,Subscriber,1983-01-01,1,Sunday,Sunday
1,1283,2017-01-01 00:24:35,2017-01-01 00:45:58,3183,2.273143,Exchange Place,40.716247,-74.033459,3198,Heights Elevator,40.748716,-74.040443,24723,Subscriber,1978-01-01,1,Sunday,Sunday
2,372,2017-01-01 00:38:19,2017-01-01 00:44:31,3183,0.765239,Exchange Place,40.716247,-74.033459,3211,Newark Ave,40.721525,-74.046305,24620,Subscriber,1989-01-01,1,Sunday,Sunday
3,1513,2017-01-01 00:38:37,2017-01-01 01:03:50,3194,2.499182,McGinley Square,40.725340,-74.067622,3271,Danforth Light Rail,40.692640,-74.088012,24668,Subscriber,1961-01-01,1,Sunday,Sunday
4,639,2017-01-01 01:47:52,2017-01-01 01:58:31,3183,0.966516,Exchange Place,40.716247,-74.033459,3203,Hamilton Park,40.727596,-74.044247,26167,Subscriber,1993-01-01,1,Sunday,Sunday

In [42]:
cleanbikeData2017To2018.loc[cleanbikeData2017To2018["Distance(miles)"] == 0]

,tripduration,starttime,stoptime,start station id,Distance(miles),start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,StartDayofWeek,StopDayofWeek
46,149,2017-01-01 10:13:45.000,2017-01-01 10:16:15.000,3267,0.0,Morris Canal,40.712419,-74.038526,3267,Morris Canal,40.712419,-74.038526,24699,Subscriber,1974-01-01,1,Sunday,Sunday
54,1934,2017-01-01 10:52:30.000,2017-01-01 11:24:45.000,3193,0.0,Lincoln Park,40.724605,-74.078406,3193,Lincoln Park,40.724605,-74.078406,24469,Subscriber,1969-01-01,1,Sunday,Sunday
107,1793,2017-01-01 13:52:25.000,2017-01-01 14:22:18.000,3211,0.0,Newark Ave,40.721525,-74.046305,3211,Newark Ave,40.721525,-74.046305,26308,Subscriber,1981-01-01,1,Sunday,Sunday
114,118,2017-01-01 14:08:58.000,2017-01-01 14:10:56.000,3186,0.0,Grove St PATH,40.719586,-74.043117,3186,Grove St PATH,40.719586,-74.043117,24585,Subscriber,1980-01-01,1,Sunday,Sunday
115,2424,2017-01-01 14:32:31.000,2017-01-01 15:12:56.000,3205,0.0,JC Medical Center,40.716540,-74.049638,3205,JC Medical Center,40.716540,-74.049638,24626,Subscriber,1989-01-01,2,Sunday,Sunday
119,2344,2017-01-01 14:33:38.000,2017-01-01 15:12:43.000,3205,0.0,JC Medical Center,40.716540,-74.049638,3205,JC Medical Center,40.716540,-74.049638,24448,Subscriber,1982-01-01,1,Sunday,Sunday
126,430,2017-01-01 14:47:23.000,2017-01-01 14:54:33.000,3183,0.0,Exchange Place,40.716247,-74.033459,3183,Exchange Place,40.716247,-74.033459,26262,Subscriber,1989-01-01,1,Sunday,Sunday
150,1820,2017-01-01 16:02:51.000,2017-01-01 16:33:12.000,3194,0.0,McGinley Square,40.725340,-74.067622,3194,McGinley Square,40.725340,-74.067622,26195,Subscriber,1993-01-01,1,Sunday,Sunday
167,1201,2017-01-01 16:42:45.000,2017-01-01 17:02:46.000,3267,0.0,Morris Canal,40.712419,-74.038526,3267,Morris Canal,40.712419,-74.038526,24595,Subscriber,1974-01-01,1,Sunday,Sunday
187,547,2017-01-01 17:36:52.000,2017-01-01 17:46:00.000,3267,0.0,Morris Canal,40.712419,-74.038526,3267,Morris Canal,40.712419,-74.038526,26294,Subscriber,1983-01-01,1,Sunday,Sunday
190,289,2017-01-01 17:40:01.000,2017-01-01 17:44:50.000,3214,0.0,Essex Light Rail,40.712774,-74.036486,3214,Essex Light Rail,40.712774,-74.036486,24471,Subscriber,1972-01-01,1,Sunday,Sunday
198,1937,2017-01-01 18:02:06.000,2017-01-01 18:34:23.000,3267,0.0,Morris Canal,40.712419,-74.038526,3267,Morris Canal,40.712419,-74.038526,26294,Subscriber,1983-01-01,1,Sunday,Sunday
243,574,2017-01-01 20:27:42.000,2017-01-01 20:37:16.000,3279,0.0,Dixon Mills,40.721630,-74.049968,3279,Dixon Mills,40.721630,-74.049968,24464,Subscriber,1989-01-01,1,Sunday,Sunday
254,157,2017-01-01 21:13:57.000,2017-01-01 21:16:35.000,3267,0.0,Morris Canal,40.712419,-74.038526,3267,Morris Canal,40.712419,-74.038526,26294,Subscriber,1985-01-01,1,Sunday,Sunday
258,191,2017-01-01 21:33:33.000,2017-01-01 21:36:45.000,3279,0.0,Dixon Mills,40.721630,-74.049968,3279,Dixon Mills,40.721630,-74.049968,24464,Subscriber,1982-01-01,1,Sunday,Sunday
267,1095,2017-01-01 22:25:16.000,2017-01-01 22:43:31.000,3202,0.0,Newport PATH,40.727224,-74.033759,3202,Newport PATH,40.727224,-74.033759,24551,Subscriber,1990-01-01,1,Sunday,Sunday
307,1138,2017-01-02 11:14:41.000,2017-01-02 11:33:40.000,3271,0.0,Danforth Light Rail,40.692640,-74.088012,3271,Danforth Light Rail,40.692640,-74.088012,24582,Subscriber,1985-01-01,1,Monday,Monday
344,564,2017-01-02 15:46:22.000,2017-01-02 15:55:47.000,3202,0.0,Newport PATH,40.727224,-74.033759,3202,Newport PATH,40.727224,-74.033759,24561,Subscriber,1970-01-01,1,Monday,Monday
361,8356,2017-01-02 17:27:14.000,2017-01-02 19:46:30.000,3205,0.0,JC Medical Center,40.716540,-74.049638,3205,JC Medical Center,40.716540,-74.049638,24695,Subscriber,1986-01-01,1,Monday,Monday
398,308,2017-01-02 21:02:27.000,2017-01-02 21:07:35.000,3193,0.0,Lincoln Park,40.724605,-74.078406,3193,Lincoln Park,40.724605,-74.078406,24453,Subscriber,1993-01-01,1,Monday,Monday
400,2576,2017-01-02 21:09:43.000,2017-01-02 21:52:40.000,3193,0.0,Lincoln Park,40.724605,-74.078406,3193,Lincoln Park,40.724605,-74.078406,24469,Subscriber,1993-01-01,1,Monday,Monday
417,2502,2017-01-03 00:18:37.000,2017-01-03 01:00:20.000,3199,0.0,Newport Pkwy,40.728745,-74.032108,3199,Newport Pkwy,40.728745,-74.032108,26217,Subscriber,1975-01-01,1,Tuesday,Tuesday
442,513,2017-01-03 07:00:21.000,2017-01-03 07:08:55.000,3273,0.0,Manila & 1st,40.721651,-74.042884,3273,Manila & 1st,40.721651,-74.042884,26262,Subscriber,1984-01-01,1,Tuesday,Tuesday
516,1837,2017-01-03 08:28:29.000,2017-01-03 08:59:07.000,3195,0.0,Sip Ave,40.730743,-74.063784,3195,Sip Ave,40.730743,-74.063784,24443,Subscriber,1973-01-01,1,Tuesday,Tuesday
530,648,2017-01-03 08:42:49.000,2017-01-03 08:53:38.000,3186,0.0,Grove St PATH,40.719586,-74.043117,3186,Grove St PATH,40.719586,-74.043117,26272,Subscriber,1983-01-01,1,Tuesday,Tuesday
537,1772,2017-01-03 08:45:28.000,2017-01-03 09:15:00.000,3186,0.0,Grove St PATH,40.719586,-74.043117,3186,Grove St PATH,40.719586,-74.043117,24612,Subscriber,1976-01-01,1,Tuesday,Tuesday
589,953,2017-01-03 10:34:17.000,2017-01-03 10:50:11.000,3202,0.0,Newport PATH,40.727224,-74.033759,3202,Newport PATH,40.727224,-74.033759,26281,Subscriber,1984-01-01,1,Tuesday,Tuesday
602,1907,2017-01-03 13:56:48.000,2017-01-03 14:28:35.000,3210,0.0,Pershing Field,40.742677,-74.051789,3210,Pershing Field,40.742677,-74.051789,24641,Subscriber,1963-01-01,1,Tuesday,Tuesday
621,1649,2017-01-03 15:53:13.000,2017-01-03 16:20:43.000,3186,0.0,Grove St PATH,40.719586,-74.043117,3186,Grove St PATH,40.719586,-74.043117,26208,Subscriber,1971-01-01,2,Tuesday,Tuesday
659,699,2017-01-03 17:55:31.000,2017-01-03 18:07:11.000,3195,0.0,Sip Ave,40.730743,-74.063784,3195,Sip Ave,40.730743,-74.063784,26248,Subscriber,1967-01-01,1,Tuesday,Tuesday
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
353435,276,2018-10-10 20:58:23.757,2018-10-10 21:03:00.048,3681,0.0,Grand St,40.715178,-74.037683,3681,Grand St,40.715178,-74.037683,29212,Subscriber,1987-01-01,1,Wednesday,Wednesday
353469,1923,2018-10-12 16:04:20.129,2018-10-12 16:36:23.553,3681,0.0,Grand St,40.715178,-74.037683,3681,Grand St,40.715178,-74.037683,29120,Subscriber,1975-01-01,1,Friday,Friday
353475,297,2018-10-12 19:00:34.532,2018-10-12 19:05:32.172,3681,0.0,Grand St,40.715178,-74.037683,3681,Grand St,40.715178,-74.037683,33653,Subscriber,1987-01-01,1,Friday,Friday
353478,303,2018-10-12 21:30:40.643,2018-10-12 21:35:43.876,3681,0.0,Grand St,40.715178,-74.037683,3681,Grand St,40.715178,-74.037683,33653,Subscriber,1987-01-01,1,Friday,Friday
353484,230,2018-10-13 12:35:51.304,2018-10-13 12:39:42.053,3681,0.0,Grand St,40.715178,-74.037683,3681,Grand St,40.715178,-74.037683,29255,Subscriber,1987-01-01,1,Saturday,Saturday
353487,2298,2018-10-13 13:19:32.920,2018-10-13 13:57:50.999,3681,0.0,Grand St,40.715178,-74.037683,3681,Grand St,40.715178,-74.037683,29264,Subscriber,1980-01-01,1,Saturday,Saturday
353496,303,2018-10-13 19:03:40.465,2018-10-13 19:08:44.425,3681,0.0,Grand St,40.715178,-74.037683,3681,Grand St,40.715178,-74.037683,29255,Subscriber,1987-01-01,1,Saturday,Saturday
353497,303,2018-10-13 20:02:12.033,2018-10-13 20:07:15.743,3681,0.0,Grand St,40.715178,-74.037683,3681,Grand St,40.715178,-74.037683,33654,Subscriber,1987-01-01,1,Saturday,Saturday
353498,274,2018-10-13 20:52:50.304,2018-10-13 20:57:24.904,3681,0.0,Grand St,40.715178,-74.037683,3681,Grand St,40.715178,-74.037683,29255,Subscriber,1987-01-01,1,Saturday,Saturday
353501,266,2018-10-14 09:16:48.824,2018-10-14 09:21:15.602,3681,0.0,Grand St,40.715178,-74.037683,3681,Grand St,40.715178,-74.037683,29571,Subscriber,1962-01-01,1,Sunday,Sunday
353506,336,2018-10-14 11:40:00.131,2018-10-14 11:45:36.494,3681,0.0,Grand St,40.715178,-74.037683,3681,Grand St,40.715178,-74.037683,29452,Subscriber,1987-01-01,1,Sunday,Sunday
353519,1052,2018-10-14 15:48:39.947,2018-10-14 16:06:12.078,3681,0.0,Grand St,40.715178,-74.037683,3681,Grand St,40.715178,-74.037683,29277,Subscriber,1980-01-01,1,Sunday,Sunday
353520,192,2018-10-14 18:56:34.874,2018-10-14 18:59:47.550,3681,0.0,Grand St,40.715178,-74.037683,3681,Grand St,40.715178,-74.037683,33633,Subscriber,1987-01-01,1,Sunday,Sunday
353523,193,2018-10-14 20:07:38.229,2018-10-14 20:10:52.224,3681,0.0,Grand St,40.715178,-74.037683,3681,Grand St,40.715178,-74.037683,33633,Subscriber,1987-01-01,1,Sunday,Sunday
353524,181,2018-10-14 20:55:17.687,2018-10-14 20:58:18.787,3681,0.0,Grand St,40.715178,-74.037683,3681,Grand St,40.715178,-74.037683,33633,Subscriber,1987-01-01,1,Sunday,Sunday
353546,341,2018-10-15 18:46:36.279,2018-10-15 18:52:17.369,3681,0.0,Grand St,40.715178,-74.037683,3681,Grand St,40.715178,-74.037683,18729,Subscriber,1987-01-01,1,Monday,Monday
353548,199,2018-10-15 20:13:41.542,2018-10-15 20:17:00.881,3681,0.0,Grand St,40.715178,-74.037683,3681,Grand St,40.715178,-74.037683,18729,Subscriber,1987-01-01,1,Monday,Monday
353549,288,2018-10-15 20:52:25.365,2018-10-15 20:57:14.031,3681,0.0,Grand St,40.715178,-74.037683,3681,Grand St,40.715178,-74.037683,33669,Subscriber,1987-01-01,1,Monday,Monday
353569,199,2018-10-16 20:33:52.371,2018-10-16 20:37:11.847,3681,0.0,Grand St,40.715178,-74.037683,3681,Grand St,40.715178,-74.037683,33668,Subscriber,1987-01-01,1,Tuesday,Tuesday
353587,303,2018-10-17 20:49:27.246,2018-10-17 20:54:30.278,3681,0.0,Grand St,40.715178,-74.037683,3681,Grand St,40.715178,-74.037683,33679,Subscriber,1987-01-01,1,Wednesday,Wednesday
353603,280,2018-10-18 18:44:30.215,2018-10-18 18:49:10.480,3681,0.0,Grand St,40.715178,-74.037683,3681,Grand St,40.715178,-74.037683,31058,Subscriber,1987-01-01,1,Thursday,Thursday
353604,1925,2018-10-18 18:44:33.074,2018-10-18 19:16:38.075,3681,0.0,Grand St,40.715178,-74.037683,3681,Grand St,40.715178,-74.037683,29536,Subscriber,1963-01-01,1,Thursday,Thursday
353605,255,2018-10-18 20:42:13.809,2018-10-18 20:46:29.608,3681,0.0,Grand St,40.715178,-74.037683,3681,Grand St,40.715178,-74.037683,31058,Subscriber,1987-01-01,1,Thursday,Thursday
353625,298,2018-10-19 20:02:37.659,2018-10-19 20:07:36.413,3681,0.0,Grand St,40.715178,-74.037683,3681,Grand St,40.715178,-74.037683,29542,Subscriber,1987-01-01,1,Friday,Friday
353627,263,2018-10-19 21:40:24.990,2018-10-19 21:44:48.524,3681,0.0,Grand St,40.715178,-74.037683,3681,Grand St,40.715178,-74.037683,26209,Subscriber,1987-01-01,1,Friday,Friday
353632,270,2018-10-20 13:26:58.298,2018-10-20 13:31:28.977,3681,0.0,Grand St,40.715178,-74.037683,3681,Grand St,40.715178,-74.037683,29663,Subscriber,1987-01-01,1,Saturday,Saturday
353743,1032,2018-10-28 11:08:09.188,2018-10-28 11:25:21.478,3681,0.0,Grand St,40.715178,-74.037683,3681,Grand St,40.715178,-74.037683,29667,Subscriber,1986-01-01,1,Sunday,Sunday
353818,62,2018-10-04 18:16:52.774,2018-10-04 18:17:54.823,3694,0.0,Jackson Square,40.711130,-74.078900,3694,Jackson Square,40.711130,-74.078900,29278,Subscriber,1991-01-01,1,Thursday,Thursday
353824,1996,2018-10-07 22:59:48.505,2018-10-07 23:33:05.370,3694,0.0,Jackson Square,40.711130,-74.078900,3694,Jackson Square,40.711130,-74.078900,26159,Customer,1991-01-01,2,Sunday,Sunday
353832,1436,2018-10-10 14:59:49.124,2018-10-10 15:23:45.884,3694,0.0,Jackson Square,40.711130,-74.078900,3694,Jackson Square,40.711130,-74.078900,26213,Subscriber,1988-01-01,1,Wednesday,Wednesday

#### Remove the records with "0" distance. May be those bikes didn't get started and need repairs.

In [43]:
cleanbikeData2017To2018 = cleanbikeData2017To2018.loc[cleanbikeData2017To2018["Distance(miles)"] != 0]

In [44]:
cleanbikeData2017To2018.count()

tripduration               605816
starttime                  605816
stoptime                   605816
start station id           605816
Distance(miles)            605816
start station name         605816
start station latitude     605816
start station longitude    605816
end station id             605816
end station name           605816
end station latitude       605816
end station longitude      605816
bikeid                     605816
usertype                   605717
birth year                 605816
gender                     605816
StartDayofWeek             605816
StopDayofWeek              605816
dtype: int64

In [45]:
cleanbikeData2017To2018.to_csv("CombinedBikeData/cleanbikeData2017To2018.csv", index=False)